.home
  background: url('../../images/lupa.jpg') center center
  background-size: cover

  position: relative

  .App
    background: url('../../images/logo.png') no-repeat center 20px
    height: 100%

  h1
    font:
      size: 4em
      weight: 700
    margin: 0
    padding: 50px
    text-transform: uppercase

  h1,
  h3
    color: #eee
    text-align: center

  h3
    font-size: 2em

  hgroup
    background: rgba(40, 40, 40, 0.2)
    position: absolute
    padding: 20px 30px
    border-radius: 5px
    top: 400px
    left: 50%
    width: 740px
    transform: translateX(-50%)

  &__url-form
    justify-content: center
    position: absolute
    bottom: 100px
    left: 0
    right: 0

  &__url-input.form-control
    font-size: 1.5em
    line-height: 45px
    margin: 0 10px
    width: 700px !important

  &__action
    font-size: 1.5em !important
    height: 57px
    text-transform: uppercase
