.home {
  background: url("../../images/snow.jpg") no-repeat center center;
  position: relative; }
  .home h1 {
    color: #222;
    font-size: 4em;
    font-weight: 700;
    margin: 0;
    padding: 50px;
    text-align: center;
    text-transform: uppercase; }
  .home__url-form {
    justify-content: center;
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0; }
  .home__url-input.form-control {
    font-size: 2em;
    margin: 0 10px;
    width: 700px !important; }
  .home__action {
    height: 57px; }
