.reviewer__questions {
  padding: 15px 20px;
  width: 40%; }
  .reviewer__questions .question .card-body:not(:last-child) {
    padding-bottom: 0; }
  .reviewer__questions__progress {
    margin-bottom: 10px; }
    .reviewer__questions__progress .card-body {
      padding-bottom: 10px;
      padding-top: 10px; }
  .reviewer__questions .progress-bar {
    color: #fff; }
