.reviewer__questions
  background: #ddd
  padding: 30px 40px
  width: 30%

  .card
    border: 0 !important

  .card-title
    background: transparent !important

  .card-body:not(:last-child)
    padding-bottom: 0

  &__title-card
    margin-bottom: 10px

    h5
      margin: 0

  &__progress
    margin-bottom: 10px

    .card-body
      padding:
        bottom: 10px
        top: 10px

  .progress-bar
    color: #fff

  .btn:not(.btn-link)
    text-transform: uppercase

  .btn-link
    padding-left: 0

  textarea
    height: 100px

  .result-progress-bar .progress-bar
    background: #f47513 !important
